<div class="text"></div>
<div class="container-name">

    <div style="display: block;position: relative;" class="from_to_dates">
        <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" name="selected" ngDefaultControl [showCustomRangeLabel]="true"
            [alwaysShowCalendars]="true" [ranges]="ranges" [locale]="locale" startKey="start"
            endKey="end" [minDate]="minDate"
            [maxDate]="maxDate" [linkedCalendars]="true" [isInvalidDate]="isInvalidDate"
            [showClearButton]="true"  (rangeClicked)="rangeClicked($event)"
            (datesUpdated)="datesUpdated($event)" placeholder="Select please.../">
            <button type="button" class="dateSubmitbtn" (click)=getChartCount($event)>Submit</button>
    </div>

</div>
<br>
<br>
<br>
<nav class=" col-md-12">
    <div class="col-md-6"><canvas id="barChart" style="cursor: pointer;" [(ngModel)]="dashboardModel.barChart"></canvas></div>
    <div class="col-md-6"><canvas id="pieChart" style="cursor: pointer;"  [(ngModel)]="dashboardModel.pieChart"></canvas></div>
    <br>
</nav>