label {
    display: inline-block;
    max-width: 100%;
    margin-left: -50px;
    font-weight: 800;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

#from {
    margin-right: 100px;
}

.container-name .from-to {
    display: inline-block;
    width: 200px;
    min-height: 40px;
    background-color: #016e1d;
    height: 10px;
}

.text {
    color: white;
    font-size: 15px;
}

.btn-success {
    color: #fff;
    background-color: #016e1d;
    border-color: #016e1d;
    margin-left: 800px;
}

.dateSubmitbtn  {
    background: #a20a39;
    color: #fff;
    border: none;
    padding: 6px 20px;
}

.dates-from-to {
    position: relative;
}
.from_to_dates input {
    width: 17%;
    text-align: center;
    padding: 6px;
    margin-right: 20px;
}