<h3>Pending for Disbursment</h3>
<div _ngcontent-c8="" class="total "  *ngFor="let data of pendingDisbursement">
    <div _ngcontent-c8="" class="col-md-12" ng-reflect-ng-class="[object Object]">
        <div _ngcontent-c8="" class="applicant-details">
            <div _ngcontent-c8="" class="applicant-table">
                <table _ngcontent-c8="">
                    <tbody _ngcontent-c8="">
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="">ApplicationId </td>
                            <td _ngcontent-c8="">:</td>
                            <td _ngcontent-c8="">{{data.applicationId}} </td>
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Name </td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%">{{data.applicantName}} </td>
                            
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%"> SanctionedLoanAmount</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%">{{data.sanctionedLoanAmount}}</td>
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Customer Id</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%">{{data.customerId}}</td>
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Saving Account Number</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%">{{data.savingAccountNumber}}</td>
                            
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Loan Account Number</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%"> {{data.loanaccountNumber}} </td>
                           
                        </tr>

                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Approved Date Time</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%">{{data.approvedDatetime}}</td>
                            
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Saving Opened Date</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%"> {{data.savingOpendDate}} </td>
                           
                        </tr>


                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Disbursment Status</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%">{{data.disbursmentStatus}}</td>
                            
                        </tr>
                       
                        <!-- <tr _ngcontent-c8="">
                            <th _ngcontent-c8="">BM Recommendations</th>
                        </tr> -->
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Debit Account</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%"><input _ngcontent-c8="" id="loanAmount" maxlength="7"
                                    onkeyup="this.value=this.value.replace(/[^\d]/,'')" placeholder="{{data.savingAccountNumber}}" type="text"
                                    [(ngModel)]="viewforpendingdisbursmentmodel.DebitAccount" readonly>
                            </td>
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Credit Account</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%"><input _ngcontent-c8="" id="loanAmount" maxlength="7"
                                    onkeyup="this.value=this.value.replace(/[^\d]/,'')" placeholder="{{data.loanaccountNumber}}" type="text"
                                    [(ngModel)]="viewforpendingdisbursmentmodel.CreditAccount" readonly>
                            </td>
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Disbursement Amount</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%"><input _ngcontent-c8="" id="loanAmount" maxlength="7"
                                    onkeyup="this.value=this.value.replace(/[^\d]/,'')" placeholder="Rs." type="text"
                                    [(ngModel)]="viewforpendingdisbursmentmodel.amount">
                            </td>
                        </tr>
                        <tr _ngcontent-c8="">
                            <td _ngcontent-c8="" width="30%">Loan Period</td>
                            <td _ngcontent-c8="" width="10%">:</td>
                            <td _ngcontent-c8="" width="30%"><input _ngcontent-c8="" id="loanAmount" maxlength="3"
                                    onkeyup="this.value=this.value.replace(/[^\d]/,'')" placeholder="" type="text"
                                    [(ngModel)]="viewforpendingdisbursmentmodel.loanPeriod">
                            </td>
                        </tr>
                   
                       
                    </tbody>
                </table>
          
                <div id="value">

                    <button type="button" class="btn btn-success" (click)="PostAccountData()" id="Approved" value="Approve">Approve</button>
                </div>
                <div _ngcontent-c8="" class="modal fade" id="modalPopup" role="dialog">
                    <div _ngcontent-c8="" class="modal-dailog">
                        <div _ngcontent-c8="" class="modal-content">
                            <div _ngcontent-c8="" class="modal-header"><button _ngcontent-c8="" class="close"
                                    data-dismiss="modal" type="button">×</button>
                                <h4 _ngcontent-c8="" class="modal-title"> Do You Want To continue?</h4>
                            </div>
                            <div _ngcontent-c8="" class="modal-body">
                                <div _ngcontent-c8="" class="modal_body_content"><img _ngcontent-c8="" class=""
                                        onerror="this.onerror=null; this.src='assets/images/profile.png'"
                                        src="assets/images/profile.png"></div>
                                <div _ngcontent-c8="" class="modal_body_content">
                                    <div _ngcontent-c8="" class="left_content"> ApplicationId: </div>
                                    <div _ngcontent-c8="" class="right_content"> {{data.applicationId}} </div>
                                </div>
                                <div _ngcontent-c8="" class="modal_body_content">
                                    <div _ngcontent-c8="" class="left_content"> Name: </div>
                                    <div _ngcontent-c8="" class="right_content"> {{data.applicantName}} </div>
                                </div>
                                <div _ngcontent-c8="" class="modal_body_content">
                                    <div _ngcontent-c8="" class="left_content"> Loan Amount: </div>
                                    <div _ngcontent-c8="" class="right_content">{{data.applicationId}} </div>
                                </div>
                                <div _ngcontent-c8="" class="modal_body_content">
                                    <div _ngcontent-c8="" class="left_content"> No of Months: </div>
                                    <div _ngcontent-c8="" class="right_content">{{data.applicationId}} </div>
                                </div>
                                <div _ngcontent-c8="" class="modal_body_content">
                                    <div _ngcontent-c8="" class="left_content"> ROI: </div>
                                    <div _ngcontent-c8="" class="right_content"> 13.40% </div>
                                </div>
                                <div _ngcontent-c8="" class="modal_body_content">
                                    <div _ngcontent-c8="" class="left_content"> EMI: </div>
                                    <div _ngcontent-c8="" class="right_content"> {{data.applicationId}} </div>
                                </div>
                            </div>
                            <div _ngcontent-c8="" class="modal-footer"><button _ngcontent-c8="" class="btn btn-default"
                                    data-dismiss="modal"> close </button><button _ngcontent-c8=""
                                    class="btn btn-default bank_status" id=""> </button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div _ngcontent-c8="" class="download-links col-md-5" ng-reflect-klass="download-links"
        ng-reflect-ng-class="[object Object]">
        <div _ngcontent-c8="" class="download-header">
            <h3 _ngcontent-c8="">Download Files</h3>
        </div>
        <div _ngcontent-c8="" class="download-body">
            <div _ngcontent-c8="" id="1000031236">
                <div _ngcontent-c8="" class="download-file first-file"><i _ngcontent-c8="" aria-hidden="true"
                        class="fa fa-file-pdf-o"></i><span _ngcontent-c8="" value="fxappraisal">View Application
                        Appraisal</span></div>
                <div _ngcontent-c8="" class="download-file"><i _ngcontent-c8="" aria-hidden="true"
                        class="fa fa-file-pdf-o"></i><span _ngcontent-c8="" value="kycdoc">View KYC Details</span></div>
                <div _ngcontent-c8="" class="download-file"><i _ngcontent-c8="" aria-hidden="true"
                        class="fa fa-file-pdf-o"></i><span _ngcontent-c8="" value="LOAN">Application Cum
                        Appraisal</span></div>
                <div _ngcontent-c8="" class="download-file"><i _ngcontent-c8="" aria-hidden="true"
                        class="fa fa-file-pdf-o"></i><span _ngcontent-c8="" value="saving">Saving's Form.</span></div>
                <div _ngcontent-c8="" class="download-file"><i _ngcontent-c8="" aria-hidden="true"
                        class="fa fa-file-pdf-o"></i><span _ngcontent-c8="" value="PRIMARY">Primary Info.</span></div>
            </div>
            <div _ngcontent-c8="" class="" id="1000031236">
                <div _ngcontent-c8="" class="download-file"><i _ngcontent-c8="" aria-hidden="true"
                        class="fa fa-file-archive-o" style="font-size:25px;color:red"></i><span _ngcontent-c8=""
                        style="margin-left: 8px;" value="ApplicantImages">Appraisal Documents</span></div>
            </div>
        </div>
    </div> -->
    <div _ngcontent-c8="" class="download-links additionalSection" ng-reflect-klass="download-links"
        ng-reflect-ng-class="[object Object]">
        <div _ngcontent-c8="" class="download-header">
            <h3 _ngcontent-c8="">Additional Files</h3>
        </div>
        <div _ngcontent-c8="" class="download-body additional">
            <div _ngcontent-c8="" class="" id="">
                <!--bindings={
"ng-reflect-ng-for-of": ""
}-->
            </div>
        </div>
    </div>
</div>

