html {
    height: 100%;
}

body {
    font-family: 'Varela', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    min-height: 40%;
    position: relative;
    width: 100%;
    height: 50%;
}

h1 {
    color: #e1e1e1;
    text-align: center;
}

a:focus,
.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-top: 6px;
}

.relative {
    position: relative;
}

.switcher {
    margin-bottom: 70px;
}

ul.switcher li {
    list-style-type: none;
    width: 100%;
    position: absolute;
    top: 0;
}

.first {
    left: 0;
}

.login {
    position: relative;
}


/* .login-container-wrapper {
    max-width: 350px;
    height: 460px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    box-sizing: border-box;
    background-image: url();
    background: #c7dfdb;
    background-size: cover;
    background-blend-mode: saturation;
} */

.login-container-wrapper {
    max-width: 350px;
    height: 420px;
    height: 440px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    background-image: url();
    background: #a30e38;
    background-size: cover;
    background-blend-mode: saturation;
}

.login-container-wrapper li {
    text-align: center;
    padding: 40px 13px 0px 10px;
    background-color: #a30e38;
    height: 50px;
    line-height: 50px;
    /* box-shadow: inset 0 -2px 0 0 #ccc; */
    cursor: pointer;
}


/* .login input:focus+.fa {
    color: #91ee9d;
} */

.login-form i {
    position: absolute;
    top: 0;
    left: 19px;
    line-height: 52px;
    color: rgb(25, 25, 26);
    z-index: 100;
    font-size: 16px;
}

.login-form .input-lg {
    font-size: 16px;
    height: 50px;
    height: 60px;
    padding: 10px 25px;
    border-radius: 0;
}

.login input[type="email"],
.login input[type="password"],
.login input:focus {
    /* background-color: rgba(12, 12, 12, 0.75); */
    border: 0px solid #4a525f;
    color: #000;
    border-left: 45px solid #eee;
    border-radius: 40px;
}


/* .login input:focus {
    border-left: 45px solid #eee;
} */

.btnsuccess {
    color: #fff;
    background-color: #fbbd06;
}

#header {
    display: none;
}
.logo img {
width: 80%;
border: 4px solid #f6b801;
}