<h3>LUC DATA</h3>

<div class="table-content">
    <div class="col-md-12">

        <div class="items_per_page">
            <span class="items_per_page_text">Items Per Page</span>
            <select id="PerPage" class="" [(ngModel)]="lucModel.pageSize" (change)="getdropdownvalue($event)">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
        </div>
        <div class="search_div">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="search_icon" type="text" name="search" [(ngModel)]="lucModel.searchText" autocomplete="off" placeholder="Search.....">
        </div>
    </div>
    <table class="table table-striped " id="customers">
        <tr>
            <th>Appllication Id</th>
            <th>Applicant Name</th>
            <th>Disbursed Amount</th>
            <th>Is Fund Utilized</th>
            <th>Date of Visit</th>
            <th>Download PDF</th>


        </tr>
        <tr class="pointer" *ngFor="let item of lucApplications ; let i = index" id="{{item.applicationId}}">

            <td>
                {{item.applicationId}}</td>
            <td>{{ item.applicantName}}</td>
            <td>{{ item.disbursementAmount}}</td>
            <td>{{ item.isFundutilized }}</td>
            <td>{{ item. dateofvisit}}</td>

            <td (click)="downloadPdf($event)" id="{{item.applicationId}}">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <span value="LUCpdf" style="cursor: pointer;">Download PDF</span>
            </td>

        </tr>

    </table>
    <!-- <div class="paginateDiv">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div> -->