<h3>Completed Disbursement</h3>

<div class="table-content">
    <div class="col-md-12">

        <div class="items_per_page">
            <span class="items_per_page_text">Items Per Page</span>
            <select id="PerPage" class="" [(ngModel)]="pageSize">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
            </select>
        </div>
        <div class="search_div">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search.....">
        </div>
    </div>
    <table class="table table-striped " id="customers">

      
        <tr>
            <th>Application Id</th>
            <th>Applicant Name</th>
            <th>Sanctioned Loan Amount</th>
            <th>Customer Id</th>
            <th>Saving Account Number</th>
            <th>Loan Account Number</th>
            <th>Approved Date Time</th>
            <th> Loan Account Opened Date</th>
            <th>Disbursment Status</th>
            <th>Disbursment Amount</th>
            <th>Disbursment Date & time</th>
        </tr>
        <tr class="pointer" (click)="fetchData($event)" *ngFor="let item of completedDisbursement ; let i = index" id={{item.applicationid}}>

            <td>
                {{item.applicationId}}</td>
            <td>{{ item.applicantName}}</td>
            <td>{{ item.sanctionedLoanAmount}}</td>
            <td>{{ item.customerId }}</td>
            <td>{{ item.savingAccountNumber}}</td>
            <td>{{ item.loanaccountNumber}}</td>
            <td>{{ item.savingOpendDate}}</td>
            <td>{{ item.loanAccountOpenDate}}</td>
            <td>{{ item.disbursmentStatus}}</td>
            <td>{{ item.disbursmentAmount}}</td>
            <td>{{ item.disbursmentDatetime}}</td>

        </tr>

    </table>

