<header class="header-fixed">
    <div class="header-logo">
        <img src="assets/images/banner.jpg" height="60" width="250">
    </div>
    <div class="header-logo1">
        <span>Sol Id : {{headermodel.id}} </span>
        <span> Branch Name&nbsp;: {{headermodel.branch}} </span>
    </div>
</header>