<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Change Password</h2>

    <form class="login-container"  >
        <p><input type="text" placeholder="Current Password" name="oldPassword" [(ngModel)]="changePassword.oldpassword"></p>
        <p><input type="text" placeholder="New Password" name="newPassword" [(ngModel)]="changePassword.newpassword"></p>
        <p><input type="text" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="changePassword.confirmpassword"></p>
        <p><input type="submit" value="Save" (click)=checkPassword()></p>
    </form>
</div>