body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
}

.login {
    width: 420px;
    margin: 16px auto;
    font-size: 16px;
}



.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}



.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 8px solid transparent;
    border-bottom-color: #a20a39;
}

.login-header {
    background: #a20a39;
    padding: 10px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 12px;
}


/* Every row inside .login-container is defined with p tags */

.login p {
    padding: 12px;
}

.login[_ngcontent-c4] input[_ngcontent-c4] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}


/* Text fields' focus effect */

.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: rgb(221, 210, 210);
}

.login input[type="submit"] {
    background: #a20a39;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #a20a39;
}


/* Buttons' focus effect */

.login input[type="submit"]:focus {
    border-color: #05a;
}