<div id="wrapper" class="">

    <div class="overlay" style="display: none;"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

        <ul class="nav sidebar-nav">

            <img src="assets/images/banner.jpg" height="60px" width="250px">
            <li>
                <a href="" [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard </a>
            </li>
            <li>
                <a href="" [routerLink]="['/pending_for_review']"><i class='glyphicon glyphicon-alert'></i> Pending For Review</a>
            </li>
            <li>
                <a href="" [routerLink]="['/approved_applications']"><i class="glyphicon glyphicon-ok"></i> Approved Applications</a>
            </li>
            <li>
                <a href="" [routerLink]="['/returned_applications']"><i class="fa fa-undo" aria-hidden="true"></i> Returned applications</a>
            </li>
            <li>
                <a href="" [routerLink]="['/rejected_applications']"><i class="glyphicon glyphicon-remove"></i> Rejected applications</a>
            </li>
            <li>
                <a href="" [routerLink]="['/change_password']"><span class="fa-passwd-reset fa-stack">
                  <i class="fa fa-undo fa-stack-2x"></i>
                  <i class="fa fa-lock fa-stack-1x"></i>
               </span> Change Password</a>
            </li>


            <li>
                <a href="" [routerLink]="['/luc']"><i class="glyphicon glyphicon-book" bottom="10px"></i> LUC </a>
            </li>
            <li>
                <a href="" [routerLink]="['/pendingfordisbursement']"><i class="glyphicon glyphicon-book" bottom="10px"></i> Pending For Disbursement</a>
            </li>
            <li>
                <a href="" [routerLink]="['/completeddisbursement']"><i class="glyphicon glyphicon-book" bottom="10px"></i> Completed Disbursement</a>
            </li>
            <li>
                <a href="" [routerLink]="['/logout']"><i class="fa fa-power-off" bottom="10px"></i> Logout </a>
            </li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas" (click)="toggleClick($event)"> 
            
         <span class=" hamb-top "></span>
         <span class="hamb-middle "></span>
         <span class="hamb-bottom "></span>
      </button>

    </div>

</div>