<h3>Pending For Review</h3>

<div class="table-content">
    <div class="col-md-12">

        <div class="items_per_page">
            <span class="items_per_page_text">Items Per Page</span>
            <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>
        </div>
        <div class="search_div">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search.....">
        </div>
    </div>
    <table class="table table-striped " id="customers">
        <tr>

            <th>Application Number</th>
            <th>Date Of Submission</th>
            <th>Customer Name</th>
            <th>Contact Number</th>
            <th>Subk Recommended Loan Amount</th>
            <th>FX Verified Date</th>
            <th>TE Verified Date</th>
            <th>UH Verified Date</th>
            <th>BM Verification Status</th>
            <th>BM Verified Date</th>
        </tr>

        <tr class="pointer" (click)="fetchData($event)" *ngFor="let item of pendingForReview  ; let i = index" id={{item.applicationid}} routerLinkActive="active" [routerLink]="['/view_for_pending_review', item.applicationid]">
            <td>
                {{item.applicationid}}</td>
            <td>{{ item.bcupdateddatetime }}</td>
            <td>{{ item.appl1name}}</td>
            <td>{{ item.mobileno }}</td>
            <td>{{ item.uhRecommendedLoanamount}}</td>
            <td> {{item.fxupdateddatetime}}</td>
            <td>{{ item.teupdateddatetime}}</td>
            <td>{{ item.uhupdateddatetime}}</td>
            <td>{{ item.bankverificationstatus}}</td>
            <td>{{ item.bankupdateddatetime}}</td>

        </tr>
    </table>

    <!-- <div class="paginateDiv">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div> -->
</div>