* {
    padding: 0;
    margin: 0;
}

body {
    font: 10px/1.6 Arial, sans-serif;
}

footer {
    bottom: 0;
    position: fixed;
    position: fixed;
    bottom: 0;
}

.footer-distributed {
    background-color: #f6b801;
    box-sizing: content-box;
    width: 100%;
    height: 30px;
}

.footer-distributed h3 span {
    color: white;
    font-size: 15px;
}
/* Footer links */

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: white;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 20%;
    text-align: center;
    line-height: 42px;
    margin: 0px 15px;
    vertical-align: middle;
}