<h3>Rejected Applications</h3>

<div class="table-content">
    <div class="col-md-12">

        <div class="items_per_page">
            <span class="items_per_page_text">Items Per Page</span>
            <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="25">25</option>
      </select>
        </div>
        <div class="search_div">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search.....">
        </div>
    </div>
    <table class="table table-striped " id="customers">
        <tr>
            <th>Application Number</th>
            <th>Date Of Submission</th>
            <th>Customer Name</th>
            <th>Contact Number</th>
            <th>Village Name</th>
            <th>Subk recommended Loan Amount</th>
            <th>Date of Reject</th>
            <th>Rejected By</th>
            <th>Remarks</th>


        </tr>
        <tr class="pointer" (click)="fetchData($event)" *ngFor="let item of rejectedApplicationData ; let i = index" id={{item.applicationid}}>

            <td>
                {{item.applicationid}}</td>
            <td>{{ item.bcupdateddatetime }}</td>
            <td>{{ item.appl1name}}</td>
            <td>{{ item.mobileno }}</td>
            <td>{{ item. permvillcity}}</td>
            <td>{{ item.uhRecommendedLoanamount}}</td>
            <td>{{ item.bankupdateddatetime}}</td>
            <td>{{ item.returnedby}}</td>
            <td>{{ item.bankremarks}}</td>

        </tr>
    </table>
    <!-- <div class="paginateDiv">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div> -->
    <div class="remarksDiv">