<h3>Approved Application</h3>
<div class="total " *ngFor="let data of approveCustomerData">
    <div class="col-md-8 ">
        <div class="applicant-details">
            <div class="applicant-table">
                <table>
                    <tr>
                        <td width="30%">ApplicationId </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.applicationid}} </td>
                    </tr>
                    <tr>
                        <td width="30%">Name </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.appl1name}} </td>
                        <td width="30%" rowspan="2"><img src={{imagesrc}} class="applicant-img" onerror="this.onerror=null; this.src='assets/images/profile.png'"></td>
                    </tr>
                    <tr>
                        <td width="30%"> Date of Birth</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.dobdate}}</td>
                    </tr>
                    <!-- <tr>
                        <td width="30%">Aadhar</td>
                        <td width="10%">:</td>
                        <td width="30%">{{aadharNumber}}</td>
                    </tr> -->
                    <tr>
                        <td width="30%">Mobile</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.mobileno}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Home Address</td>
                        <td width="10%">:</td>
                        <td width="30%">
                            {{data.permhouseno+","+ data.permstreetno+"," +data.permlandmark +","+data.permvillcity+","+ data.permdistrict+","+ data.permstate+","+ data.permpincode}}
                        </td>
                        <td width="5%">
                            <img src="assets/images/location.png" class="home_address" height="30px" width="30px" (click)="onnavigateHome()">
                        </td>
               
                    </tr>
                    <tr>
                        <td width="30%">Business Address</td>
                        <td width="10%">:</td>
                        <td width="30%">
                            {{data.commhouseno+ ","+data.commstreetno +","+data.commlandmark+ ","+data.commvillcity+  ","+data.commdistrict+  ","+data.commstate+","+ data.commpincode}}
                        </td>

                        <td width="5%">
                            <img src="assets/images/location.png" class="business_address" height="30px" width="30px" (click)="onnavigateBusiness()">
                        </td>
                        
                    </tr>

                    <tr>
                        <th>Subk Recommendations</th>
                        <td style=" position: absolute;
                        right: 30px;">
                            <button class="btn" style="border: none;
                            outline: none;
                            background-color: #a20a39;
                            color: #fff;
                            font-weight: 600;" (click)="navigatetoviewImage()">View Images</button>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">Loan Amount </td>
                        <td width="10%">:</td>
                        <td width="30%">Rs : {{data.uhRecommendedLoanamount}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Rate of Interest </td>
                        <td width="10%">:</td>
                        <td width="30%" value="{{roi}}">{{roi}}%</td>
                    </tr>
                    <tr>
                        <td width="30%">No.of Months</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.uhrecommendednoofmonths}}</td>
                    </tr>
                    <tr>
                        <td width="30%">EMI</td>
                        <td width="10%">:</td>
                        <td width="30%">Rs. {{data.uhrecommendedinstalmentamount}}</td>
                    </tr>
                    <tr>
                        <th>BM Recommendations</th>
                    </tr>
                    <tr>
                        <td width="30%">Loan Amount </td>
                        <td width="10%">:</td>
                        <td width="30%">Rs : {{data.loanamountsactioned}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Rate of Interest </td>
                        <td width="10%">:</td>
                        <td width="30%" value="{{roi}}">{{roi}}%</td>
                    </tr>
                    <tr>
                        <td width="30%">No.of Months</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.instalmentamount}}</td>
                    </tr>
                    <tr>
                        <td width="30%">EMI</td>
                        <td width="10%">:</td>
                        <td width="30%"> Rs.{{data.noofinstalments}}</td>
                    </tr>
                    <!-- <tr>
                        <th>BM Approved</th>
                    </tr>
                    <tr>
                        <td width="30%">Loan Amount</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="number" placeholder="Rs." id="loanAmount"></td>
                    </tr>
                    <tr>
                        <td width="30%">Rate of Intrest</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="hidden" placeholder="Rs." id="RateOfIntrest" value="5" readonly>5%</td>
                    </tr>
                    <tr>
                        <td width="30%">No.of Months</td>
                        <td width="10%">:</td>
                        <td width="30%"><input type="number" placeholder="" id="NoOfMonths"></td>
                    </tr>
                    <tr>
                        <td width="30%">EMI</td>
                        <td width="10%">:</td>
                        <td width="30%">Rs.<input type="button" placeholder="Rs." id="emiAmt" value="" readonly></td>
                    </tr> -->


                    <!-- <tr>
            <td width="100%">
              <input type="checkbox" id="SavingAccount " [(ngModel)]="showMe"><b>Customer having Saving Account</b>
            </td>
          </tr>
          <tr *ngIf="showMe">
            <td width="30%">Saving Account Number</td>
            <td width="10%">:</td>
            <td width="30%">
              <input type="password" id="savingAccount">
            </td>
          </tr>
          <tr *ngIf="showMe">
            <td width="30%">Confirm Saving Account Number</td>
            <td width="10%">:</td>
            <td width="30%">
              <input type="text" id="confirmsavingAccount">
              <span id='message'></span>
            </td>
          </tr>
          <tr *ngIf="showMe">
            <td width="30%">Bank Custumer ID</td>
            <td width="10%">:</td>
            <td>
              <input type="password" id="bankCustId">
            </td>
          </tr>
          <tr *ngIf="showMe">
            <td width="30%">Confirm Bank Custumer ID</td>
            <td width="10%">:</td>
            <td>
              <input type="text" id="confirmbankCustId">
              <span id='message'></span>
            </td>
          </tr> -->



                </table>
            </div>
        </div>

    </div>
    <div class="col-md-4 download-links">
        <div class="download-header">
            <h3>Download Files</h3>
        </div>
        <div class="download-body">
            <div (click)="downloadPdf($event)" id="{{data.applicationid}}">
                <div class="download-file first-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="consentclauseforborrower">Consent Clause For Borrower</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="emideduction">UnderTaking for EMI Deduction</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="sanction">Sanction Letter</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="fxappraisal">View Application Appraisal</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="kycdoc">View kyc Details</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="LOAN">Application Cum Appraisal</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="saving">Saving Form</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="primary">Primary Info</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="AGREEMENTOFTERMLOAN">Term loan agreement</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="HYPOTHECATIONAGREEMENT">Hypotheciation Agreement</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="LETTEROFLIEN">Letter of lien</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="DP_NOTE">DP Note</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="Letter of Authority">Letter of Authority</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="Letter of guarantor">Letter of guarantor</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="Letter of hypothecation">Letter of hypothecation</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="VERNACULAR">Vernacular</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="declarationonexecutionofdocuments">Decalarations on Exceution of Documents</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="AGREEMENTFORTERMLOANANDHYPOTHECATION">Agreement for Term Loan and Hypotheciation</span>
                </div>
            </div>
            <div class="" (click)="downloadzip($event)" id="{{data.applicationid}}">
                <div class="download-file">
                    <i class="fa fa-file-archive-o" aria-hidden="true" style="font-size:25px;color:red"></i>
                    <span value="ApplicantImages" style="margin-left: 8px;">Appraisal Documents</span>
                </div>
            </div>
            <!-- <div class="" id="{{data.applicationid}}" (click)=" downloadCibil($event)">
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size:25px;color:red"></i>
                    <span value="CibilReportUpload">Download CIBIL</span>
                </div>
            </div> -->
        </div>
        </div>
        </div>