<h3>Returned Application </h3>

<div class="total " *ngFor="let data of returnCustomerData">
    <div class="col-md-8 ">
        <div class="applicant-details">
            <div class="applicant-table">
                <table (keyup)="calculator($event)">
                    <tr>
                        <td width="30%">ApplicationId </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.applicationid}} </td>
                    </tr>
                    <tr>
                        <td width="30%">Name </td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.appl1name}} </td>
                        <td width="30%" rowspan="2"><img src={{imagesrc}} class="applicant-img" onerror="this.onerror=null; this.src='assets/images/profile.png'"></td>
                    </tr>
                    <tr>
                        <td width="30%"> Date of Birth</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.dobdate}}</td>
                    </tr>
                    <!-- <tr>
                        <td width="30%">Aadhar</td>
                        <td width="10%">:</td>
                        <td width="30%">{{aadharNumber}} </td>
                    </tr> -->
                    <tr>
                        <td width="30%">Mobile</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.mobileno}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Home Address</td>
                        <td width="10%">:</td>
                        <td width="30%">
                            {{data.permhouseno+","+ data.permstreetno+"," +data.permlandmark +","+data.permvillcity+","+ data.permdistrict+","+ data.permstate+","+ data.permpincode}}
                        </td>
                        <td width="5%">
                            <img src="assets/images/location.png" class="home_address" height="30px" width="30px" (click)="onnavigateHome()">
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">Business Address</td>
                        <td width="10%">:</td>
                        <td width="30%">
                            {{data.commhouseno+ ","+data.commstreetno +","+data.commlandmark+ ","+data.commvillcity+  ","+data.commdistrict+  ","+data.commstate+","+ data.commpincode}}
                        </td>


                        <td width="5%">
                            <img src="assets/images/location.png" class="business_address" height="30px" width="30px" (click)="onnavigateBusiness()">
                        </td>
                    </tr>
                    <tr>
                        <th>Subk Recommendations</th>
                        <td style=" position: absolute;
                        right: 30px;">
                            <button class="btn" style="border: none;
                            outline: none;
                            background-color: #a20a39;
                            color: #fff;
                            font-weight: 600;" (click)="navigatetoviewImage()">View Images</button>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">Loan Amount </td>
                        <td width="10%">:</td>
                        <td width="30%">Rs.{{data.uhRecommendedLoanamount}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Rate of Interest </td>
                        <td width="10%">:</td>
                        <td width="30%" value="{{roi">{{roi}}%</td>
                    </tr>
                    <tr>
                        <td width="30%">No.of Months</td>
                        <td width="10%">:</td>
                        <td width="30%">{{data.uhrecommendednoofmonths}}</td>
                    </tr>
                    <tr>
                        <td width="30%">EMI</td>
                        <td width="10%">:</td>
                        <td width="30%">Rs.{{data.uhrecommendedinstalmentamount}}</td>
                    </tr>
                    
                    

                </table>
            </div>


        </div>

    </div>
    <div class="col-md-4 download-links">
        <div class="download-header">
            <h3>Download Files</h3>
        </div>
        <div class="download-body">
            <div (click)="downloadPdf($event)" id="{{data.applicationid}}">
                <div class="download-file first-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="fxappraisal">View Application Appraisal</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="kycdoc">View KYC Details</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="LOAN">Application Cum Appraisal</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="saving">Saving's Form.</span>
                </div>
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <span value="PRIMARY">Primary Info.</span>
                </div>
            </div>
            <div class="" (click)="downloadzip($event)" id="{{data.applicationid}}">
                <div class="download-file">
                    <i class="fa fa-file-archive-o" aria-hidden="true" style="font-size:25px;color:red"></i>
                    <span value="ApplicantImages" style="margin-left: 8px;">Appraisal Documents</span>
                </div>
            </div>
            <!-- <div class="" (click)="downloadCibil($event)" id="{{data.applicationid}}">
                <div class="download-file">
                    <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size:25px;color:red"></i>
                    <span value="CibilReportUpload">Download CIBIL</span>
                </div>
            </div> -->
        </div>

    </div>
</div>